<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav 
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="accent">
         <button (click)="drawer.toggle()" class="font_button" mat-icon-button><i class="fa fa-close"></i></button>
    </mat-toolbar>
 
    <mat-nav-list fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
    <button mat-button routerLink="/history"><i class="fa fa-history"> History</i></button>
    <a href=""> <i class="fa fa-sign-out"> Logout</i></a>
    <a><i class="fa fa-rupee"> Balance</i></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="nav_button" color="accent" fxLayoutGap="20px" fxLayoutAlign="center center">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"><i class="fa fa-bars"></i>
      </button>
      <button  mat-button  class="font_button" routerLink="/cart"><i class="fa fa-shopping-cart"></i></button>
      <button mat-button routerLink="/bonus" class="font_button"><i class="fa fa-rupee"></i></button>
    </mat-toolbar>
    <!-- Add Content Here -->
<app-deals></app-deals>
  </mat-sidenav-content>
</mat-sidenav-container>
